@media (max-width: 1039px) {
.head .nav1 a{
  margin-left: 5px;
  color: var(--base-text-color);
  margin-right: 10px;
}
}

@media (max-width: 1000px) {
  .sec2 .card h3{
  position: relative;
  top: 0.1rem;
  }
  nav .links{
    margin-left: 10rem;
  }
}

@media (max-width: 948px){
  .head .nav1{
    position: relative;
    left: -3rem;
    display: flex;
  }
    nav .links{
    margin-left: 8rem;
  }

  .sec2 i{
    left: -5.5rem;
  }
}

@media (max-width: 849px) {
  .checkbtn {
    display: block;
    color: #fff;
  }

  nav .links {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 50%;
    height: calc(100vh - 80px);
    background-color: #fefefe;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    padding: 20px 10px; 
    gap: 15px;
    transition: all 0.3s ease;
    overflow-y: auto; 
  }
.logo {
  position: relative;
  left: 20rem;
  }
  
    nav .links li {
    width: 100%;
    list-style: none;
  }

  nav .links li a {
    color: #000;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-right: 50px;
    text-align: right; 
  }
.head .nav1 a{
  color: #000;
}

  a:hover,
  a.active {
    background: none;
    color: #0d8000;
  }

  #check:checked ~ .links {
    right: 0;
  }
}
