@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+NSW:wght@100..400&family=Sixtyfour+Convergence&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

:root{
  --base-background : #eaeaea;
  --base-color-text : #000000;
}
body{
  /* background: linear-gradient(#003c67,#002a47,#002139,#000); */
  /* background: #011325; */
  /* background: #ffffff; */
  background: #001320;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow: hidden;

}
.back{
  margin: 1rem;
}
.back a{
  width: 2rem;
  padding: 0.5rem;
  background-color: #171717;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.blur{
  box-shadow: 0 0 1000px 50px #00a6ff;
  z-index: -1000;
}
.login{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-form{
  background: rgb(244, 244, 244);
  width: 30%;
  height: 25rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #616161;
}
.login-form::before{
  content: "o";
  position: absolute;
  top: -27rem;
  left: 25%;
  color: #00d9ff;
  opacity: 0.1;
  /* filter: drop-shadow(10px 10px px  #00ffee); */
  font-size: 71rem;
  font-weight: 200;
  z-index: -1000;
}
input{
  position: relative;
  width: 100%;
  padding: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  outline: none;
}
input:not([type="checkbox"]){
  box-shadow: 1px 1px 10px #b5b5b5;

}
input::placeholder{
  color: #000000;
}
.login-form #login-title{
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.remeber input[type="checkbox"] {
  position: relative;
  left: -9rem;
}

.remeber #checkbox {
  position: relative;
  left: 2rem;
  top: -1.5rem;
}

.remeber a {
  position: relative;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  top: -2.5rem;
  left: 12.5rem;
}

.remeber a:hover {
  text-decoration: underline;
}

.login-form .submit {
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-form .submit button{
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 50px;
  background: #141414;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  box-shadow: 1px 1px 10px #b5b5b5;
  cursor: pointer;
}

.signup{
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.signup a{
  position: relative;
  color: #007bff;
  text-decoration: none;
}

.signup a:hover{
  text-decoration: underline;
}